annotated-doc==0.0.4
annotated-types==0.7.0
async-generator==1.10
attrs==25.4.0
beautifulsoup4==4.14.3
blis==1.3.3
catalogue==2.0.10
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cloudpathlib==0.23.0
cmdstanpy==1.3.0
colorama==0.4.6
confection==0.1.5
contourpy==1.3.3
cycler==0.12.1
cymem==2.0.13
fonttools==4.61.1
h11==0.16.0
holidays==0.90
idna==3.11
importlib_metadata==8.7.1
importlib_resources==6.5.2
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.9
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
murmurhash==1.0.15
mypy_extensions==1.1.0
numpy==2.4.2
outcome==1.3.0.post0
packaging==26.0
pandas==3.0.0
pillow==12.1.1
preshed==3.0.12
prophet==1.3.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.3.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
requests==2.32.5
rich==14.3.2
scikit-learn==1.8.0
scipy==1.17.0
selenium==4.40.0
setuptools==82.0.0
shellingham==1.5.4
six==1.17.0
smart_open==7.5.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.2
stanio==0.5.1
thinc==8.3.10
threadpoolctl==3.6.0
tqdm==4.67.3
trio==0.33.0
trio-typing==0.10.0
trio-websocket==0.12.2
typer==0.23.1
typer-slim==0.23.1
types-certifi==2021.10.8.3
types-urllib3==1.26.25.14
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
wasabi==1.1.3
weasel==0.4.3
websocket-client==1.9.0
wrapt==2.1.1
wsproto==1.3.2
zipp==3.23.0
